.tag-cell{
    width: 230px;
    border-bottom: 1px dotted rgb(224, 224, 224);
    padding-bottom: 12px;
    padding-right: 6px;
    padding-top: 6px;
    vertical-align: top;
    background-color:#DCE1E1;
    
}

 .tag-cell:hover
{
	background-color:#C4F8F5;
	border-style:ridge;
}

.mytable{
	padding-left:50px;
	border-bottom: 1px dotted rgb(224, 224, 224);
    padding-bottom: 12px;
    padding-right: 6px;
    padding-top: 6px;
    vertical-align: top;
    background-color:#DCE1E1;
}

 .mytable:hover
{
	background-color:#C4F8F5;
	border-style:ridge;
}

