<!DOCTYPE html>
{% extends "base.html" %}

{% block body_block %}
	<form action='/forum/tag_search/' method='post'>
	{% csrf_token %}
	<table width=40%>
		<tr>
			<td align='center'><h3>Tags</h3></td>
			<td align='center'><input type='text' name='search_text' placeholder="Search"><input type='submit' name='submit' value='Search Tag'></td>
			<td><a href='/forum/tag/'>Show all tags</a></td>
		</tr>
	</table >
</form>
	<table width='80%'>	
		{% for post in posts %}
			<tr><td class='mytable'><h3>{{post.title}}</h3>
				{{post.body}}</td></tr>
		{% endfor %}
	</table>
{% endblock %}

