<!DOCTYPE html>
{% extends "base.html" %}

{% block body_block %}
<form action='/forum/tag_search/' method='post'>
	{% csrf_token %}
	<h1 align="center"><font color='#36A7ED'><a href='/forum/tag/'>Tags</a></font></h1>
	<br>
	<table width=70% align="center">
		<tr>
			<td align='right'><input type='text' name='search_text' placeholder="Search"><input type='submit' name='submit' value='Search Tag'></td>
		</tr>
	</table>
	<br>
</form>

	<table align='center'>
		<tr>
		{% for tag in tags %}
			<td class=tag-cell align='center'><a href="/forum/tag/{{tag.pk}}/"><h4><font color="grey">{{tag}}</font> ({{tag.count}} posts)</h4></a><font color="grey">{{tag.descrip}}</font></td>
			{% if forloop.counter|divisibleby:"4" %}
				</tr>
				<tr>
			{% endif %}
		{% endfor %}
		</tr>
	</table>
{% endblock %}
